<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                Joke Text : <input type="text" id="joke-text" [(ngModel)]="joketext" name="joketext"><br><br>
                Joke id : <input type="text" id="joke-text" [(ngModel)]="id" name="joketext"><br><br>
                <button type="button" class="btn btn-outline-info" (click)='backend_getAllJoke()'>Show All Joke</button>
                <button type="button" class="btn btn-outline-info" (click)='backend_getJokeByID()'>Get Joke By ID</button>
                <button type="button" class="btn btn-outline-info" (click)='backend_addNewJoke()'>Add New Joke</button>
            </div>
        </div>
        
    </div>
    
  </div>

  
  <!-- <br><br>

  <div class="container">
      <div class="row" *ngFor='let data of list'>
        <div class="card card-block" style="width: 300px">
          <div class="card-body">
            <h4 class="card-title">{{data.id}}</h4>
            <p class="card-text">{{data.data}}</p>
            <a href="#" class="card-link">Like</a>
            <button class="btn btn-outline-danger" (click)="backend_deleteJoke(data.id)">Delete</button>
          </div>
        </div>
      </div>
    </div> -->



  <br><br>

  <div class="row">
    <div class="col-md-12">
      <table>
        <thead>
        <tr>
          <th class="table_no">
            NO.
          </th>
          <th>
            JOKE
          </th>
          <th>
            OPTION
          </th>

        </tr>

        </thead>
        <tbody>

          <tr *ngFor='let data of list'>
            <td>{{data.id}}</td>
            <td>{{data.data}}</td>
            <td>
              <!-- <button class="btn btn-outline-primary" (click)="like(data.id, data.like)" [style.background-color]="setBackgroundColor(data.like)" [style.color]="setFontColor(data.like)">Like &nbsp;&nbsp;<span>{{data.like}}</span></button> -->
              <button class="btn btn-outline-primary" (click)="click_like(data)" [style.background-color]="setLikeBackgroundColor(data.like)" [style.color]="setLikeFontColor(data.like)">Like &nbsp;&nbsp;<span>{{data.like}}</span></button>
              <button class="btn btn-outline-danger" (click)="click_dislike(data)" [style.background-color]="setDislikeBackgroundColor(data.dislike)" [style.color]="setDislikeFontColor(data.dislike)">DisLike &nbsp;&nbsp;<span>{{data.dislike}}</span></button>
              <button class="btn btn-danger" (click)="backend_deleteJoke(data.id)">Delete</button>
              <!-- <button class="btn btn-outline-primary" (click)="testlike(data.id, data.like)" [class.test]="test == true ">test</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
