/* Center tables for demo */
table {
    margin: 0 auto;
  }
  
  /* Default Table Style */
  table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
    width:100%;
    table-layout: fixed;
  }
  table thead th,
  table tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
  }
  table caption {
    padding:.5em;
  }
  table th,
  table td {
    padding: .5em;
    border: 1px solid lightgrey;
  }

.table_no {
    width:20%;
}



button[value="true"] {
  background-color: #1E90FF;
  color: white;
}

button[value="false"] {
  background-color: white;
  color: blue;
}

.test {
  background-color: #1E90FF;
  color: white;
}