<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                First Name : <input type="text" id="first-name" [(ngModel)]="firstname" name="firstname"><br><br>
                Last Name : <input type="text" [(ngModel)]="lastname" name="lastname"><br><br>
                <button type="button" class="btn btn-outline-info" (click)='getAllJoke()'>Joke By Name</button>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                Joke Number : <input type="number" [(ngModel)]="number" name="number"><br><br>
                <button type="button" class="btn btn-outline-info" (click)='getAllJoke()'>Joke</button>
                <button type="button" class="btn btn-outline-info" (click)='getRandomJoke()'>Random Jokes</button>
            </div>
        </div>
        
    </div>
    
    
  </div>

  <br><br>
  <div class="row">
    <div class="col-md-5">
      <div style="width:200px; height:300px">
        <img [src]="img" width="500"/>
      </div>
    </div>
    <div class="col-md-7">
        <div style="width:200px; height:300px">
          <img [src]="box" width="600"/>
        </div>

        <div class="card" z-index="100" style="position: relative; top: -250px; width: 400px; height: 130px; left: 155px; border: 0ch">
            <div class="card-body">
                <!-- {{list.data[0].joke}} -->
                {{text}}
            </div>
        </div>

      </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-12">
      <table>
        <thead>
        <tr>
          <th class="table_no">
            NO.
          </th>
          <th>
            JOKE
          </th>
        </tr>

        </thead>
        <tbody>

          <tr *ngFor='let data of list'>
            <td>{{data.data.id}}</td>
            <td>{{data.data.joke}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
