
<div style="padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 300px;">
  <button type="button" class="btn btn-outline-primary" (click)='gotoFront()' style="margin-left: 70px;">Front-End-Test</button>
  <button type="button" class="btn btn-outline-primary" (click)='gotoBack()' >Back-End-Test</button>
  <br><br>
  <div id="wrap">
    <router-outlet></router-outlet>
  </div>
</div>

